<app-navbar></app-navbar><br />
<div class="container">
  <div>
    <h1 class="page-header">{{ title }}</h1>
  </div>
  <!--navigointipainikkeet-->
  <div class="nav">
    <a routerLink="/dashboard" class="btn btn-primary" role="button">Etusivu</a>

    <a routerLink="/recipes" class="btn btn-primary" role="button">Reseptit</a>

    <a routerLink="/addrecipe" class="btn btn-primary" role="button"
      >Lisää resepti</a
    >
  </div>

  <!--Tähän tulevat reittitaulukossa olevat komponentit.-->
  <router-outlet></router-outlet>

  <!--Tämä komponentti esittää lokia sovelluksen tapahtumista.
   <app-messages></app-messages> 
  -->
</div>
