@import "~bootstrap/dist/css/bootstrap.css";
h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}
.nav {
  margin-left: 1em;
  margin-bottom: 0.25em;
}
.btn-primary {
  margin-right: 0.1em;
}

/*
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited,
a:link {
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
*/
