<!--Etusivu näkymä-->
<div class="container">
  <h3>Satunnaisia reseptejä</h3>
  <div class="row row-cols-2">
    <!--*ngForilla iteroidaan reseptien läpi ja näytetään reseptien nimet etusivulla. 
    Klikkaamalla buttonia pääsee yksittäisen reseptin tietoihin. -->
    <a *ngFor="let recipe of recipes" routerLink="/detail/{{ recipe.id }}">
      <div class="col">
        <button type="button" class="btn btn-secondary btn-lg">
          <h4>
            {{ recipe.name }}
          </h4>
        </button>
      </div>
    </a>
  </div>
</div>
<app-recipe-search></app-recipe-search>
