<!--Rekisteröitymislomake-->
<div class="container-fluid">
  <div class="d-flex mt-3 mb-3">Rekisteröityminen</div>
  <form #f="ngForm">
    <div class="form-group">
      <label for="username">Tunnus:</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        required
        [(ngModel)]="registerUserData.username"
        ngModel
      />
      <label for="password">Salasana:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        required
        [(ngModel)]="registerUserData.password"
        ngModel
      /><br />
      <!--Rekisteröitymis button-->
      <button (click)="registerUser()" type="submit" class="btn btn-light">
        Rekisteröidy
      </button>
    </div>
  </form>
</div>
